@import 'vendor/bourbon/bourbon'

// mixins

=centered
  margin: 0 auto

// utils

.right
  float: right

.clear
  clear: both

.refresh
  position: absolute
  right: 0
  top: 0
  padding: 0.7%
  background: rgba(230, 230, 230, 0.7)
  font-size: 1.4em
  a
    color: white

.debug
  position: absolute
  right: 0
  top: 40px
  padding: 0 1%
  background: rgba(230, 230, 230, 0.7)


// reset

a
  text-decoration: none

*
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-size: 110%
  height: 90%

p
  margin: 0 0 1.2em 0


// layout

html, body
  // +linear-gradient(#111, #333)
  +linear-gradient(#FFF, #DDD)
  height: 100%


// main

.main
  overflow: hidden
  position: relative
  height: 100%
  width: 100%

.thumbs_cont
  position: absolute
  bottom: 0
  left: 0
  overflow: scroll
  width: 100%

.thumbs
  img
    position: relative
    z-index: 50
    width: 80px
    cursor: pointer
    opacity: 0.8
  img:hover
    opacity: 1

.main img
  width: 100%
  display: block
  position: absolute
  opacity: 0
  // optional, may reduce performance, reduce radius if necessary
  box-shadow: 0 0 10px #999

  // +transition(-webkit-transform 0.4s ease-in-out)
  -webkit-transition: all 0.4s ease-in-out
  // -webkit-transform: "translate3d(200%, 0, 0)"

// .main img .back
// .main img .back

.main img:first-child
  opacity: 1


.ffos .main img
  box-shadow: none

img.fast
  +transition(all 0)

.main a
  position: absolute
  top: 45%
  font-size: 2.3em
  font-weight: bold
  color: white
  padding: 5px 6px
  z-index: 2
  font-family: Arial
  background: rgba(200, 200, 200, 0.4)
  &:hover
    background: rgba(200, 200, 200, 0.6)

.main a.zoom
  left: 0
  top: 0
  font-size: 2.1em
  padding-right: 8px
  padding-top: 0

.main a.prev
  left: 0
  padding-right: 8px

.main a.next
  right: 0
  padding-left: 8px