-# %img{ src: "/issues/4/06.jpg" }

-# %img{ src: "http://makevoid.com/imgs/makevoid.png" }

- idx = -1

.main
  - photos[0..idx].each_with_index do |photo, idx|
    - photo = File.basename photo
    %img{ draggable: "draggable", src: "/#{issues_dir}/4/#{photo}", :"data-id" => idx }

.thumbs_cont
  .thumbs
    - photos[0..idx].each_with_index do |photo, idx|
      - photo = File.basename photo
      %img{ src: "/#{issues_dir}/4/thumbs/#{photo}", :"data-id" => idx }

