-# %img{ src: "/issues/4/06.jpg" }

%img{ src: "http://makevoid.com/imgs/makevoid.png" }

-# - photos.each_with_index do |photo, idx|
-#   - photo = File.basename photo
-#   %img{ src: "/issues/4/#{photo}" }
-#
-#   - if idx % 2 == 0
-#     .clear