!!! 5
%html
  - TITLE = "Upandcoming"
  %head
    %title= TITLE
    %link{ rel: "stylesheet", href: "/css/main.css" }
    = partial :metas

  %body
    = yield
    %script{ type: "text/javascript", src: "/js/all.js" }
    -# %script{ type: "text/javascript", src: "-# /js/vendor/underscore.js" }
    -# %script{ type: "text/javascript", src: "-# /js/vendor/zepto.js" }
    -# %script{ type: "text/javascript", src: "-# /js/vendor/jimagesloaded.js" }
    -# %script{ type: "text/javascript", src: "/js/app.js" }
    
    .debug
      