.right {
  float: right; }

.clear {
  clear: both; }

.refresh {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1%;
  background: rgba(230, 230, 230, 0.7); }
  .refresh a {
    color: black; }

.debug {
  position: absolute;
  right: 0;
  top: 25px;
  padding: 1%;
  background: rgba(230, 230, 230, 0.7); }

a {
  text-decoration: none; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 110%;
  height: 90%; }

p {
  margin: 0 0 1.2em 0; }

html, body {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(white, #dddddd);
  background-image: linear-gradient(white, #dddddd);
  height: 100%; }

.main {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%; }

.thumbs_cont {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: scroll;
  width: 100%; }

.thumbs img {
  position: relative;
  z-index: 50;
  width: 80px;
  cursor: pointer;
  opacity: 0.8; }
.thumbs img:hover {
  opacity: 1; }

.main img {
  width: 100%;
  display: block;
  position: absolute;
  opacity: 0;
  box-shadow: 0 0 10px #999999;
  -webkit-transition: all 0.4s ease-in-out; }

.main img:first-child {
  opacity: 1; }

.ffos .main img {
  box-shadow: none; }

img.fast {
  -webkit-transition: all 0;
  -moz-transition: all 0;
  transition: all 0; }

.main a {
  position: absolute;
  top: 45%;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  padding: 5px 6px;
  z-index: 2;
  background: rgba(200, 200, 200, 0.3); }
  .main a:hover {
    background: rgba(200, 200, 200, 0.5); }

.main a.zoom {
  left: 0;
  top: 0;
  font-size: 2.1em;
  padding-right: 8px;
  padding-top: 0; }

.main a.prev {
  left: 0;
  padding-right: 8px; }

.main a.next {
  right: 0;
  padding-left: 8px; }
