.right {
  float: right; }

.clear {
  clear: both; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 110%;
  height: 100%; }

p {
  margin: 0 0 1.2em 0; }

html, body {
  background-color: #111111;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #111111), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#111111, #333333);
  background-image: linear-gradient(#111111, #333333);
  height: 100%; }

img {
  width: 100%;
  margin: 0 auto;
  display: block; }
